@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");

:root {
  --blue: #0282f9;
  --bridal-heath: #fffbf6;
  --dark-gray: #262626;
  --gray: #323232;
  --sidecar: #f4eac0;
  --white: #fff;
  --white-smoke: #f5f5f5;
  --yellow: rgba(255, 246, 0);
}

* {
  box-sizing: border-box;
  font-family: "Raleway", serif;
  margin: 0;
  padding: 0;
  

}

body {
  background: #ffffff url('https://dev.khoavang.vn/resources/uploads/baohanh/MemoryGame/background-1697192621.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Coda', cursive;
  font-size: 1em; /*16px*/
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.tilte-header{
  padding: 10px;
    border: 2px solid #262626;
    background: rgba(69, 69, 69, 0.2);
    border-radius: 10px;
    color: #f5f5f5;
   
}
.content-right-mobile{
  display: none;
}
.introGameMobile{
  display: none;
}
.container{
  max-width: 1920px;
  height: 1700px;
}
.content {
  margin: 0 auto;
  max-width: 85rem;
  width: 100%;
}


.title {
 width: 100%;
 text-align: center;
  color: var(--yellow);
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}
.timeDown{
  display: flex;
  border: 2px solid #262626;
  background: rgba(69, 69, 69, 0.2);
  border-radius: 10px;
  width: 100%;
  justify-content: space-around;

}
.title-time{
  color: var(--bridal-heath);
  font-size: 17px;
  padding: 15px;
  margin: 0;
}
#timer{
  font-size: 22px;
  border-radius: 20%;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.menuBar{
  width: 80%;
  display: flex;
  margin: 10px;
  justify-content: center;
  cursor: pointer;
}
.tabMenu{
  width: 20%;
  margin:10px;
  display: block;
  text-align: center;
}
.titleHeader{
 
  color: #f5f5f5!important;
}
.movement {
  margin-top: 30px;  
  display: flex;
  width: 100%;
  border: 2px solid #262626;
  background: rgba(69, 69, 69, 0.2);
  border-radius: 10px;
  justify-content: center;
 
}
.dataForm{
  width: 60%;
}
.subtitle {
 
  color: var(--bridal-heath);
  font-size: 16px;
  padding: 20px 5px;
  margin: 0;
}

.available {
  border-radius: 0.3rem;
  
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
  padding: 5px 20px;
}

.card-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
}

.card {
  background-color: var(--bridal-heath);
  border: 0.2rem solid var(--dark-gray);
  border-radius: 0.25rem;
  cursor: pointer;
  height: 12rem;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 500ms ease-in-out;
  width: 100%;
}

.card--picked {
  transform: rotateY(180deg);
}

.card--guessed {
  background-color: var(--white-smoke);
  transform: rotateY(180deg) scale(0.9);
}

.card__front,
.card__back {
  align-items: center;
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 1rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: transform 330ms ease-in-out;
  width: 100%;
}

.card__front {
  flex-direction: column;
  transform: rotateY(-180deg);
}

.card__back {
  background-color: var(--sidecar);
  transform: rotateY(0);
}

.front__img {
  margin-bottom: 0.5rem;
  width: 7rem;
}

.back__img {
  width: 6rem;
}

.card__name {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: capitalize;
}

/* Modal */
.modal {
  align-items: center;
  backdrop-filter: blur(0.2rem);
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(100%);
  transition: all 270ms ease-in;
}

.modal--open {
  opacity: 1;
  transform: translateY(0);
}


.modal-container {
  align-items: center;
  background-color: honeydew;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;

  padding: 10px 10px 0;
  
  width: 400px;
  height: 400px;
  box-sizing: border-box;
}

.modal-title {
  color: var(--dark-gray);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding-top: 20px;
  text-align: center;
}
#modal-title{
  margin-top: 40px;
}
.titleUserForm{
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.3rem;
  color: #560bad;
  transition: all 0.3s ease;
  z-index: 3;
  font-weight: bold;
}
.titleUserForm:hover {
  transform: translate3d(0, -10px, 22px);
  color: #ff0266;
}
.button {
  border: 0.15rem solid var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 270ms ease-in;
  --color: #560bad;
 font-family: inherit;
 display: inline-block;
 width: 8em;
 height: 50px;
 line-height: 2.5em;
 margin: 20px;
 position: relative;
 overflow: hidden;
 border: 2px solid var(--color);
 transition: color .5s;
 z-index: 1;
 font-size: 17px;
 border-radius: 6px;
 font-weight: 500;
 color: var(--color);
}
button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
.button:hover,
.button:active {
  background-color: var(--white);
  color: #fff;
}
button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 button:hover:before {
  top: -30px;
  left: -30px;
 }
 button:active:before {
  background: #3a0ca3;
  transition: background 0s;
 }
.input{
  margin-bottom: 5px;
}
.input {
  color: #8707ff;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 100%;
 }
 
 .input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
 }
 

.close-btn{
  width: 100%;
  text-align: right;
  margin-top: -15px;
}
.close-btn2{
  margin-top: -75px;
}
.close{
  margin-right: 10px; 
  border: none;
  font-size: 40px!important;
}
.instructions{
  font-size: 15px;
  margin-top: 30px;
  padding: 10px;
  border: 2px solid #262626;
  background: rgba(69, 69, 69, 0.2);
  border-radius: 10px;
  color: #f5f5f5;
}

.main-content{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.posts{
 
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between; 
  margin-top: 13px;
}
.listPost{
  border: 2px solid #262626;
  background: rgba(69, 69, 69, 0.2)!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 20px !important;
}
.titlePost{
  color: #f5f5f5;
  text-align: center;
}
.contentPost{
  color: #f5f5f5;
  text-align: justify;
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
  padding: 5px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.view-more{
  justify-content: center;
  display: flex;
}
#btn-viewMore{
  background: rgba(84, 84, 84, 0.2);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 7px;
}
.listCustomer{
  height: 500px!important;
  padding: 10px;
  border: 2px solid #262626;
  background: rgba(69, 69, 69, 0.2);
  border-radius: 10px;
  color: #f5f5f5;
  display: none;
}
.content-left{
  width: 78%;
  padding: 20px;
  border: 2px solid #262626;
  background: rgba(46, 45, 45, 0.1);
  border-radius: 10px;
}
.content-right{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.listCustomer{
  width: 21%;
  display: flex;
}
.titleList{
  font-size: 1rem;
  
}
.list-table{
  border-collapse: collapse;
  width: 100%;
}
.list-table th td{
  border: 1px solid rgb(167, 159, 159);
  padding: 8px;
  text-align: left;
}
.list-table th{
  font-size: 0.7rem;
  border: 1px solid rgb(255, 255, 255);

}
.list-table td{
  font-size: 0.6rem;
  border: 1px solid rgb(255, 255, 255);

}

.btn-c{
  background-color: #461c6d;
  width: 15%;
  color: #fff
}

@media screen and (max-width: 1025px) {
  #content-left{
    order: 2;
    margin-top: 30px;
  }
  #content-right{
    order: 1;
    margin-top: 0;
  }
  .menuBar{
    width: 95%;
  }

  .container{
    height: 2300px;
  }
  .posts{
    flex-direction: column;
  }
  .listPost{
    width: 100%;
  }
  .titleList{
    font-size: 1.5rem;
    
  }
  .list-table th{
  font-size: 1.2rem;
 

}
  .list-table td{
    font-size: 1rem;
   
  
  }
  .listCustomer{
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .modal-container{
    padding-top: 47px;
    width: 400px;
    height: 400px;
  }
  .titleUserForm{
    font-size: 30px;
   
  }
  .close-btn{
    margin-top: -47px;
  }
  .card{
    height: 10.5rem;
  }
  .instructions{
    font-size: 12px;
   
  }

  h2{
    text-align: center;
      font-size: 20px;
  }
  .modal-title {
    font-size: 25px;
   
  }
  }
 
@media screen and (max-width: 769px) {
  #content-left{
    order: 2;
  }
  #content-right{
    order: 1;
  }
  .titleHeader{
    font-size: 11px!important;
    color: #f5f5f5!important;
    padding:10px 0 !important;
  }
  .modal-container{
    padding-top: 20px;
    width: 320px;
    height: 320px;
  }
  .titleUserForm{
    font-size: 25px;
  }
  
.modal-title{
  padding: 0 5px;
  font-size: 20px;
}
.close-btn2 {
  margin-top: -1px;
}
.card{
  height: 9.5rem;
}
.title-time
{
  font-size: 9px;
  padding: 10px;
}
#timer{
  font-size: 17px;
}
.subtitle{
  font-size: 9px;
  padding: 20px 0px;
}
.available{
  padding: 5px 10px;
  font-size: 25px;
}
.card-container{
  grid-template-columns: repeat(3, 1fr);
}
.front__img {
  width: 3rem;
}
.back__img {
  width: 3rem;
}
h2{
  font-size: 15px;
}
.instructions{
  font-size: 10px;
}
.content-right{
  justify-content: center;
}
}
@media screen and (max-width:600px){
 
  .notification{
    display: none!important;
  }
  #content-left{
    order: 2;
   
  }
  #content-right{
    order: 1;
   
  }
  .menuBar{
    width: 100%;
    justify-content: space-between;
  }
  .tabMenu{
    width: 24%!important;
  }
  .titleHeader{
    font-size: 0.5rem!important;
    padding: 5px 0!important;
  }

  .listPost{
    margin-top: 20px;
  }
  .container{
    height: 2700px;
  }
  .modal-container{
    width: 350px;
    height: 350px;
  }
  .main-content{
    display: flex;
    flex-direction: column;
  }
  .close-btn {
   padding-top: 10px;
}
.close-btn2 {
  margin-top: 1px;
}

.modal-title {
  font-size: 20px;
  padding-top: 10px;
}
  .introGameMobile{
    display: inline;
    font-size: 15px;
    margin-top: 15px;
    padding: 10px;
    border: 2px solid #262626;
    background: rgba(69, 69, 69, 0.2);
    border-radius: 10px;
    color: #f5f5f5;
  }
 .content-right-mobile{
  display: flex;
  justify-content: space-around;
 }
 .content-right{
  display: none;
 }
 .content-left{
  width: 100%;
 }
 .movement{
  margin: 0;
  margin-bottom: 30px;
  height: 30px;
  width: 40%;
  display: flex;
  justify-content: space-around;
 }
 .subtitle{
  padding: 11px 0;
  font-size: 15px;
 }
 .title-time{
  padding-top:4px;
  font-size: 15px;
 }
 #timer-mobile{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
 }
 #available-mobile{
  padding: 0 !important;;
  font-size: 18px;
 }
 .instructions-mobile{
  color: #f5f5f5!important;
  font-size: 15px;
  padding-top: 10px;
  transition: 0.3s;
  cursor: pointer;
  font-weight: 600;
}
}
@media screen and (max-width:450px){
  .notification{
    display: none!important;
  }
  .container{
    height: 2500px;
  }
  .modal-container{
    width: 350px;
    height: 350px;
  }
  .main-content{
    display: flex;
    flex-direction: column;
  }
  
.modal-title {
  font-size: 17px;
}
  
  .introGameMobile{
    display: inline;
    font-size: 15px;
    margin-top: 30px;
    padding: 10px;
    border: 2px solid #262626;
    background: rgba(69, 69, 69, 0.2);
    border-radius: 10px;
    color: #f5f5f5;
  }
  .content-right-mobile{
   display: flex;
   justify-content: space-around;
  }
  .content-right{
   display: none;
  }
  .content-left{
   width: 100%;
  }
  .movement{
   margin: 0;
   margin-bottom: 30px;
   height: 30px;
   width: 40%;
   display: flex;
   justify-content: space-around;
  }
  .subtitle{
   font-size: 12px;
   padding:5px 0 !important;
  }
  .title-time{
    padding:5px 0 !important;
   font-size: 12px;
  }
  #timer-mobile{
    font-weight: 600;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
  }
  #available-mobile{
   font-size: 16px;
  }
  .instructions-mobile{
    color: #f5f5f5!important;
    font-size: 9px;
    padding-top: 10px;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 600;
  }
  .card{
    height: 5.5rem;
  }
  .title{
    font-size: 35px;
  }
 }
